{{> head}}

{{> navbar}}

<div class="row">
    
    <div class="col-8">
        <h1>Luis Lopez</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa porro nobis soluta voluptate deserunt fugit,
            repudiandae similique numquam totam ullam doloribus nulla blanditiis accusamus! Placeat officia delectus cum qui dolores!
        </p>
    </div>

    <div class="col-4">
        <img src="" class="img-thumbnail">
    </div>

</div>

{{>footer}}